{% extends "base.html" %}
{% block head %}
{% load static %}
<script src="{% static "js/game/index.js" %}" type="module"></script>
{% endblock head %}

{% block title %}
<title>Game room</title>
{% endblock title %}

{% block content %}
<div class="game-room">
    <h1>
        You're in room {{ room_name }}
    </h1>
    <canvas height="600">

    </canvas>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <input id="ready" type="button" value="Ready">
    <input id="hit" type="button" value="Hit">
    <input id="stand" type="button" value="Stand">
    <input id="split" type="button" value="Split">
    <input id="double" type="button" value="Double">
    <input id="bet" type="button" value="Bet">

    {{ room_name|json_script:"room-name" }}
</div>
{% endblock content%}