<!DOCTYPE html>
<html>

<head>
    <title>Casino Locale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>

    {% load static %}
    <link href="{% static "main.css" %}" rel="stylesheet">
    {% block head %}{% endblock head %}
</head>

<body>
    <header>
        <article>
            <h1>Casino<em>Locale</em></h1>
            <nav>
                {% for link in nav_links %}
                <a href="{{link.url}}">
                    {{link.description}}
                </a>
                {% endfor %}
            </nav>
        </article>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>