<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Casino Locale</title>
    {% endblock title %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />

    {% load static %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/registration.css" %}" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>

<body>
    <header>
        <article>
            <a href="/" class="logo-menu">
                Casino<em>Locale</em>
            </a>
            <nav>
                {% for link in nav_links %}
                <a href="{{link.url}}">
                    {{link.description}}
                </a>
                {% endfor %}
            </nav>
        </article>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>